body {
    font-family: Arial, sans-serif;
    background-image: url('../img/foggy-shad.jpg');
    background-repeat: repeat;
    padding-top: 50px;
}

h1 {
    text-align: center;
    color: #71ffa8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: xxx-large;
    margin-top: 0;
}

hr {
    border: none;
    border-top: 2px solid #71ffa77e;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.lab-js h2 {
    text-align: center;
    color: #fad5d5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    margin-top: 0;
}


.lab-html h2 {
    text-align: center;
    color: #30ffdd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    margin-top: 0;
}

.lab-js ul,
.lab-html ul {
    list-style: none;
    padding: 0;
}

.lab-js ul li,
.lab-html ul li {
    font-weight: 800;
    font-size: large;
    color: lightgrey;
    margin-bottom: 10px;
}

.lab-js a,
.lab-html a {
    text-decoration: none;
    color: #bbeeff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

.lab-js a:hover,
.lab-html a:hover {
    color: #60bfff;
}

.unused a,
.unused a:hover {
    color: #b3b3b3;
}