body {
    font-family: Arial, sans-serif;

    /* background-color: #f2f2f2; */
    background-image: url('../img/foggy-shad.jpg');
    background-repeat: repeat;

    padding-top: 50px;
}

h1 {
    text-align: center;
    color: #71ffa8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size:xxx-large;
}

hr {
    border: none;
    border-top: 2px solid #71ffa77e;
    width: 60%;

    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


ul {
    text-align: center;
    list-style: none;
    width: 50%;


    /* margin: 0 auto; */
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 330px;
}


ul li {
    margin-bottom: 10px;

    font-weight: 800;
    font-size:x-large;
}

a {
    text-decoration: none;

    color: #bbeeff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

a:hover {
    color: #60bfff;
}