body {
    background-image: url('../src/flecks.png');
    background-repeat: repeat;
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;
}

h1,
h2 {
    font-family: 'Roboto';
    text-align: right;
    color: red;
}

p {
    text-align: right;
}

em {
    color: green;
    font-weight: bold;
}

strong {
    font-family: 'Caveat';
}